*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: darkslategrey;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.top{
    display: flex;
    height: 25vh;
    width: 100%;
}

.middle{
    height: 60vh;
    width: 100%;
    display: flex;
    gap: 1em;
    padding-block: 10px;

    .left{
        background-color: lightgray;
        height: 100%;
        width: 50%;
    }

    .right{
        background-color:whitesmoke;
        height: 100%;
        width: 50%;
    }
}

.bottom{
    display: flex;
    height: 25vh;
    width: 100%s;
}

.cuadrado{
    background-color: lightblue;
    height: 100%;
    aspect-ratio: 1/1;
}


.galeria_container{
    background-color: aliceblue;
    height: 100%;
    width: 100%;
}